<section class='p-4 bg-light'>
  <header class='container-fluid' id='header'>
    <nav id='navbar'>
      <div class='container-fluid' style='margin-top:20px;'>
        <ul style='display:flex; flex-direction:row; justify-content:space-around;'>
          {{! <li class='btn-navbar' style='text-decoration:none; list-style-type:none;'>
            <button id='' class='link-navbar btn btn-outline-success'>
              <a href='/api/admin' class='text-decoration-none text-reset'>Administración</a>
            </button>
          </li> }}
          <li class='btn-navbar' style='text-decoration:none; list-style-type:none;'>
            <form method='POST' action='/api/cart'>
              <button type='submit' id='' class='link-navbar btn btn-outline-success'>
                Crear Carrito
              </button>
            </form>
          </li>
          <li class='btn-navbar' style='text-decoration:none; list-style-type:none;'>
            <button id='' class='link-navbar btn btn-outline-success'>
              <a href='/api/cart/{{user.cartActual}}/products' class='text-decoration-none text-reset'>Ver Carrito</a>
            </button>
          </li>
          {{! <li class='btn-navbar' style='text-decoration:none; list-style-type:none;'>
            <button class='link-navbar btn btn-outline-success'>
              <a href='/chat' class='text-decoration-none text-reset'>Chat de Soporte</a></button>
          </li> }}
          <li class='btn-navbar' style='text-decoration:none; list-style-type:none;'>
            <button id='' class='link-navbar btn btn-outline-danger'>
              <a href='/api/logout' class='text-decoration-none text-reset'>Cerrar Sesion</a>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <h1 class='text-secondary text-center text-success'>Hola,
    {{user.name}}!</h1>

  <div class='mb-3'>
    <div>
      <label class='form-label fw-bold text-secondary fs-3' for='login'>Tus datos son:</label>
      <div>
        usuario:
        {{user.username}}
        <br />
        Nombre:
        {{user.name}}
        <br />
        Direccion:
        {{user.address}}
        <br />
        Edad:
        {{user.age}}
        <br />
        Telefono:
        {{user.phone}}
        <br />
        Imagen:
        {{user.url}}
      </div>
    </div>
    <br />
    <br />
  </div>
</section>